.main_wrapper {
  margin-top: 108px;
  padding: 10px;
  h5 {
    color: #e40d79;

    /* Text md/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
  h2 {
    color: var(--gray-900, #101828);
    /* Display md/Semibold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
  }
  .main_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .box {
      border-radius: 12px;
      border: 1px solid var(--gray-100, #f2f4f7);
      background: #fff;
      padding: 32px;
      margin-right: 20px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      p {
        color: var(--gray-600, #475467);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
      }

      .icon_flexbox {
        display: flex;
        align-items: center;
        .iconcontent {
          img {
          }
        }
        .text_content {
          color: var(--gray-700, #344054);
          /* Text md/Semibold */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }
}
